/*@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');*/

/* html,body {
//   font-family: 'Encode Sans Expanded', sans-serif;
//   height: 100%;
//   width: 200vh;
//   margin: 0;
 }*/

p {
  margin-bottom: 1rem;
}
.counter {
  padding: 10px;
}

ol.instructions {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-top: .5rem;

  li {
    margin-bottom: 1rem;

    ol {
      margin-top: .5rem;
      margin-left: 2.5rem;
      list-style-type: decimal;
    }
  }
}

.counter .counter-controls {
    display: inline-block;
    margin-left: 10px;
}

.counter .counter-controls button {
    margin-right: 4px;
}

.button.is-small{
  border-radius: 2px;
  font-size: 1rem;
}

.button.is-danger{
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}

.button.is-danger:hover, .button.is-danger.is-hovered {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff;
}

.button.is-success{
  background-color: #23d160;
  border-color: transparent;
  color: #fff;
}

.button.is-success:hover, .button.is-success.is-hovered {
    background-color: #22c65b;
    border-color: transparent;
    color: #fff;
}
